body {
  margin: 0;
  padding: 0;
  font-family: Cuprum, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: none;
}
a {
  text-decoration: none;
}
.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ff5357;
  border: none;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
.header {
	background-color: #f2f6f8;
}

.top-header {
	background-color: #33445a;
	height: 43px;
}
h1 {
	width: 220px;
	height: 40px;
	font-size: 24px;
	line-height: 24px;
	margin-top: 0;
    margin-left: -20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	background-color: #ff5357;
	border-bottom: 5px solid #c23f42;		
}

h1 a:hover {
	background-color: #c23f42;
	
}
.logo-btn a:hover,
.logo-btn a:active {
	background-color: #c23f42;
}

.bottom-header {
	height: 54px;
	background-color: #3d546e;
	border-bottom: 3px solid #33445a;
}

.second-navigation {
  display: flex;
  height: 43px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

.shop-navigaion-left {
	display: flex;
	justify-content: flex-start;
}

.shop-navigaion-left .search {

    
}
.shop-navigaion-left .search-icon {
    width: 17px; 
    height: 17px;
    background: url("img/sprites.png") no-repeat -1025px -187px;
    
}

.shop-navigaion-right {
	display: flex;
	justify-content: flex-end;
}

.shop-navigaion-right .marker {
    width: 14px; 
    height: 16px;
    background: url(`img/sprites.png`) no-repeat -1028px -367px;
    
}

.shop-navigaion-right .basket {
    width: 15px; 
    height: 15px;
    background: url("img/sprites.png") no-repeat -1025px -307px;
    
}

.shop-navigaion-right li {
	padding-left: 78px;
}

.shop-navigaion-right .make-order a {
	background-color: #63a63e;
	padding: 12px 22px;
	margin: auto;	
}

.site-navigaion {
	display: flex;
}

.second-navigation a,
.main-navigation a {
	color: #ffffff;
}
.second-navigation a:hover,
.site-navigaion a:hover {
	background-color: #293449;
}

.second-navigation li {
	 list-style: none;	 
}

.main-navigation {
  display: flex;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.main-navigation li {
  list-style: none;
  margin-right: 65px;
}

.middle-header {
	display: flex;
	justify-content: space-between;
	height: 278px;
}
.description {
	display: flex;
	font-size: 16px;
	line-height: 24px;  
	color: #ff5357;
	text-align: left;
	font-style: italic;
	padding-left: 52px;
	padding-top: 52px;
}
.numder {
	display: flex;
	font-size: 21px;
	line-height: 18px;
	margin-top: 46px;
	padding: 15px 52px;
	border: 3px solid #ffffff;
	font-size: 21px;
	color: #ff5357;	
}
.adress {
	display: flex;
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
}
.user-navigation {
	
}
.user-navigation a {
	color: #000000;
	padding-right: 12px;
	font-size: 21px;
	line-height: 18px;
	background-color: #ffffff;
}
.user-navigation a:hover {
	color: #ff5357;
}	
.user-navigation a:active {
	color: #cacaca;
}	

.promo-top {
	display: flex;
}

.promo-main {
	display: flex;
}

.menu {
	display: flex;
	flex-wrap: wrap;
}
.menu li {
	list-style: none;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	width: 300px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.promo-title {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	padding-left: 24px;
	padding-top: 26px;
}

.menu a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	background-color: #e5e5e5;
	width: 135px;
	height: 38px;
	padding: 13px 26px;
	margin-left: 26px;
	
}

.menu a:hover {
	background-color: #cccccc;
}

.menu a:focus {
	background-color: #b2b2b2;
}
.menu li:nth-child(1){
	background-color: #ffbf47;
}
.menu li:nth-child(2){
	background-color: #3bbce3;
}
.menu li:nth-child(3){
	background-color: #dc91d8;
}
.menu li:nth-child(4){
	background-color: #8ed78f;
}
.menu li:nth-child(5){
	background-color: #ffc047;
}
.slider {
	
}
.slider ul {
  list-style: none;
}

.slider a:hover,
.slider a:focus {
	background-color: #ba2732;	
}

.popular-product {
}

.catalog-items{
    width: 700px;
    margin: 20px auto;
}
.catalog-items .row{
    margin-left: -20px;
}
.catalog-item{
    position: relative;
    display: inline-block;
    width: 218px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.catalog-items{
    font-size: 0;
}

.catalog-item .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
     z-index: 20;
}
.catalog-item .flag-new{
    background: url("sprites.png") no-repeat -203px -736px;
}
.catalog-item .action{
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.catalog-item .action .basket,
.catalog-item .action .marker{
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315; 
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;    
    border-radius: 3px;
}
.catalog-item .action .marker{
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
.catalog-item .action{
    display: none;
}
.catalog-item:hover .action{
    display: block;
}
.catalog-item .image{
    width: 218px;
    height: 168px;
}
.catalog-item .image img{
    max-width: 100%;
}
.catalog-item .title{
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
}
.catalog-item .old-price{
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}
.catalog-item .new-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.catalog-item .new-price:after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.producer h3 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	color: #3d546e;
	background-color: #f9f5f0;
}

.producer-list { 
	display: flex;
	flex-wrap: wrap;
	position: relative;
	
}

.producer li {
	list-style: none;
	border: 1px solid #e4e4e4;
	background-color: none;
	width: 219px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.producer-list a {
	text-align: center;
	vertical-align: middle;
}

.info {
	background-color: #f4f7f9;
}
.info-service,
.title-info-puncher {
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
}

.info-service p, 
.text-puncher p{
	font-family: PT Sans;
	font-size: 13px;
	line-height: 24px;
	text-align: left;	
}

.info-menu ul {

}
.info-menu li {
	list-style: none;
}

.info-menu .info-button {
	background-color: #32425c;
	color: #ffffff;
	width: 240px;
	height: 61px;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	padding-left: 22px;
}
.info-button current {
	background-color: #ffffff;
	
}
.info-delivery,
.info-guarantee,
.info-credit {
	font-size: 36px;
	line-height: 24px;
	color: #3d546e;
	font-weight: normal;	
}

.info-delivery p,
.info-guarantee p,
.info-credit p,
.text-puncher p {
	font-family: PT Sans;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

/* кнопка отправить */

/* Компания техномарт+контакты*/

.info-technomart {
	display: flex;
	justify-content: space-between;
}


.company-technomart h5,
.map-technomart h5 {
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: normal;
}

.company-technomart p,
.map-technomart p {
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans;
}

.partners-technomart li {
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.map-big {
	display: none;
}

.write-us-form {
	border-top: 5px solid #ff5358;
}

.write-us-form input[type="text"] 
.write-us-form textarea[type="text"]{
  font-size: 18px;
  color: #000000;
  background-color: ffffff;
  border-top: 1px solid #dee3e4;
}

/* стиль для плейсхолдера */
/* стиль для каталога */

.name-user {
	
}

.breadcrumbs {
	display: flex;
  list-style: none;
}
.breadcrumbs a,
.breadcrumbs-current {
	font-family: PT Sans;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
  	color: #000000;
}

.page-title-catalog {
	background-color: #f2f6f8;
	height: 87px;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-align: center;
	padding-left: 32px;
}

.filters-title {
	font-family: PT Sans;
	font-size-adjust: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #f7f3ec;
	width: 220px;
	height: 38px;
		
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter li {
  list-style: none;
  line-height: 20px;
}

.filter-main {
	display: flex;
	flex-direction: column;
}

.filter-option {
	display: flex;
}
/* Полунок не выводит диапазон значений*/
/* При выборе элемента фон маркера подсвечивается желтым*/

.catalog-list li {
	list-style: none;
	
}

.pagination-list {
	display: flex;
  list-style: none;
}

.pagination-list a {
  font-family: PT Sans;
  text-decoration: none;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination-list a:focus {
	color: #ffffff;
	background-color: #ee3643;
}

.pagination-list a:hover{
	border: 1px solid #bdc6ca;
}

.pagination-list a:active {
	border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}


/* футер */

.footer-top {
	background-color: #32425c;
}
.footer-bottom {
	background-color: #293449;
	display: flex;
}

.footer-main-navigation {
	display: flex;
}

.footer-main-navigation-list {
	display: flex;
}

.footer-second-navigation {
	display: flex;
}

.footer-second-navigation-list {
	display: flex;
}

/* Кнопка техномарт */
.footer-main-contacts .back-page-title {
	background-color: #ee3643;
	border-bottom: 2px solid #b52933;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}


.footer-contacts {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	margin-left: 133px;
}

.footer-main-navigation li {
	list-style: none;
	margin-right: 60px;
	margin-top: 40px;
}

.footer-main-navigation a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-second-navigation li {
	margin-left: 20px;
	margin-right: 40px;
	list-style: none;
}
.footer-second-navigation a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}

.footer-main-navigation a:hover,
.footer-second-navigation a:hover {
	text-decoration: underline;
}

/*
.footer-main-navigation a:active,
.footer-second-navigation a:active {
	
}
*/	

.copyright {
	display: flex;
	font-size: 16px;
	line-height: auto;
	text-align: left;
	color: #ffffff;
}


.footer-social ul {
	display: flex;
	list-style: none;
}

.feedback {
	display: flex;
	flex-direction: column;
}

.feedback-creator-mail,
.feedback-creator-site {
	font-size: 16px;
	line-height: auto;
	color: #ffffff;
}

.feedback-creator-mail a,
.feedback-creator-site a {
	font-size: 16px;
	line-height: auto;
	color: #ffd180;
	text-decoration: none;
}

.feedback-creator-mail a:hover,
.feedback-creator-site a:hover {
	text-decoration: underline;
}

.feedback-creator-mail a:active,
.feedback-creator-site a:active {
	color: #d13644;
	text-decoration: none;
}












